$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bourbon/bourbon';
@import 'colors';


.nav {
  margin: 0 10px;
}

.content {
  margin: auto;
}

.footer {
  background-color: $gold;
  height: 60px;

  p {
    color: $white;
    padding: 2em;
    text-align: center;
  }
}
