$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bourbon/bourbon';
@import 'colors';
@import 'typography';


.nav {
  margin: 0 10px;
}


.hero-unit {
  -webkit-border-radius: 6px;
  background-color: $herocolor;
  color: inherit;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin-top: -4em;
  padding: 60px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.hero-unit h1 {
  color: inherit;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
}



.content {
  margin: 5em;
  margin-bottom: 10em;
}


.crud-modals {
  margin-bottom: 10em;
}

.footer {
  background-color: $gold;
  height: 60px;

  p {
    color: $white;
    padding: 2em;
    text-align: center;
  }
}
